#my{
    .cont{
        padding:0.5rem 0;
        .s{
            display: flex;justify-content: center;align-items: center;flex-direction: column;
        height: 1.53rem;width: 100%;background: url("http://www.dinghuapai.cn/wap/img/uc/userbg.jpg") no-repeat center center;
        div{
            font-size: 0.14rem;margin-bottom: 10px;
            img{width: 100%;height: 100%;}
        }
        .im{width: 0.61rem;height: 0.61rem;border-radius: 0.29rem;background: #fff;}
        .ip{color: #fff}
        .vip{width: 1.02rem;height: 0.3rem;border-radius: 0.1rem;text-align: center;background: rgba(0, 0, 0, 0.07);
        color: rgba(255, 255, 255, 0.7);line-height: 0.3rem;}
    }
    .c{
        height: 0.67rem;width: 100%;display: flex;justify-content: space-around;margin-bottom: 0.1rem;
        background: #fff;
        div{width: 0.91rem;height: 0.67rem;display: flex;justify-content: center;
        align-items: center;flex-direction: column;
        font-size: 0.14rem;color: #777;
        i{font-size: 0.26rem;margin-bottom: 0.05rem;}
        }
    }
    .b{
        width: 100%;background: #fff;overflow: hidden;margin-bottom: 0.2rem;
        div{font-size: 0.14rem;display: flex;flex-direction: column;justify-content: center;
            align-items: center;width:25%;height: 0.89rem;border-right:1px solid #ccc ;
            border-bottom:1px solid #ccc;float: left;color: #777;
            i{font-size: 0.26rem;margin-bottom: 0.05rem;}
        }
        div:nth-of-type(1) i{color: #ca0e25;}
        div:nth-of-type(2) i{color: aqua;}
        div:nth-of-type(3) i{color: darkcyan;}
        div:nth-of-type(4) i{color: #CA0E25;}
        div:nth-of-type(5) i{color: gold;}
        div:nth-of-type(6) i{color: cadetblue;}
        div:nth-of-type(7) i{color: green;}
        div:nth-of-type(8) i{color: aquamarine;}
        div:nth-of-type(9) i{color: red;}
        
    }
    .tui{
        height: 0.4rem;padding: 0 0.3rem;
        div{
            font-size: 0.16rem;color: #fff;height: 0.4rem;text-align: center;
            line-height: 0.4rem;background: #ca0e25;border-radius: 0.05rem;
        }
    }
    }
    
}