#search{
    .content{
        width: 100%;padding-top: 50px;
        .ai{
               position: fixed;top: 50px;z-index: 990;background: #f4f4f4;
    
        .subheader{margin-bottom: 0.1rem;
        min-height:36px;width: 100%;background: #fff;font-size: 0.16rem;padding: 10px 10px;
        .dd{font-size: 0.16rem;margin-bottom: 10px;}
        .ff{
            display: flex;font-size: 0.16rem;
            .aa{width: 0.57rem;font-size: 0.14rem;margin-right: 0.1rem;}
            .bb{
                width: 3.05rem;display: flex;flex-wrap: wrap;
                .xiao{
                    padding: 0 10px;font-size: 0.12rem;background: #CA0E25;
                    height: 0.21rem;min-width: 0.57rem;border-radius: 15px;
                    line-height: 0.21rem;color: #fff;margin-right: 0.05rem;
                    margin-bottom: 0.05rem;
                }
                }
        }
    }
    .fen{
        height: 0.38rem;width: 100%;padding: 0 10px;margin-bottom: 0.1rem;
        ul{
            height: 0.38rem;width: 3.55rem;border: 1px solid #CA0E25;
            border-radius: 0.05rem;display: flex;
            li{
                width: 0.71rem;color: #444;font-size: 0.12rem;height: 0.38rem;line-height: 0.38rem;
                text-align: center;
                span{
                    font-size: 0.14rem;
                }
                i{font-size: 0.14rem;}
            }
        }
        .active{background: #ca0e25;color: #fff;}
    }
        }
    .con{
        height: 6.56rem;
        overflow-y: auto;
        padding-top: 1.35rem;font-size: 0.16rem;
        .mint-loadmore-content{overflow-y: auto;}
        .special_offer{font-size: 0.16rem;
       padding: 10px 10px;width: 100%;background: #fff;margin-bottom: 0.1rem;
        .f_con{
            width: 100%;display: flex;flex-wrap: wrap;
            li{margin-bottom: 0.1rem;
                .s_flower{
                width: 1.73rem;height: 2.59rem;border: 0.01rem solid #ccc;
                padding: 0.07rem;font-size: 0.14rem;float: left;
                .f_img{
                    width: 1.57rem;height: 1.74rem;
                    margin-bottom: 0.10rem;background: url(../assets/ti.gif) no-repeat;
                    background-size: cover;background-position: center;
                    img{width: 100%;height: 100%;z-index: 100;}
                    }
                .f_name{width: 100%;text-align: center;height: 0.4rem;overflow: hidden;}
                .f_price{width: 100%;text-align: center;color:#ca0e25;}
            }
            }
            li:nth-of-type(odd){
                margin-right: 0.08rem;
            }
        }
        
    }
    .lodmore{
        font-size: 16px;color: #CCC;height: 0.3rem;text-align: center;width: 100%;
    }
    }
    }
    
}
